



#mainContainer{

    
    
}


#subContainer{
    
    
}


#cardContainer{

    outline: 4px solid lime; 
    width: 30vw; 
    min-height: 20vw; 

}


#imageContainer{

    
    
}

#image{

    background-image: url('..//assets/Ford.jpg');
    background-size: cover; 
    background-position: center center; 
    min-height: 25vw; 
    position: relative;
    
    
}


#img{

    
}

#priceContainer{

    outline: 4px solid blue; 
    min-height: 10vh; 
    
    
}

#price{

    
}


#titleContainer{



    
}

#title{

    
}

